<ion-header>
  <ion-navbar>
    <ion-title>
      <span>Pen Pal</span>
      <span float-right (click)="addPost()"><ion-icon name="add"></ion-icon></span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Friends</ion-label>
      <ion-select [(ngModel)]="friend_list" multiple="true" cancelText="Nah" okText="Okay!">
        <ion-option [value]="null"> Show All </ion-option>
        <ion-option *ngFor="let friend of friends" [value]="friend"> {{friend.name}} </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let post of posts" (click)="postSelected($event, post)">
    <ion-card-header>
      <ion-title>{{post.title}}</ion-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Friend: </strong> {{post.friend.name}}</p>
      <p><strong>Date: </strong> {{post.date | date}}</p>
      <hr>
      <ion-item>
        <ion-icon name="heart"></ion-icon>&nbsp;{{post.hearts}}
      </ion-item>
      <ion-item *ngIf="post.image">
          <ion-icon name="camera"></ion-icon>
        </ion-item>
      <ion-item>
        <ion-icon name="hand"></ion-icon>&nbsp;{{post.views}}
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>