<!--
  Generated template for the FriendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>friends</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Friends</ion-label>
      <ion-select [(ngModel)]="friend_list" multiple="true" cancelText="Nah" okText="Okay!">
        <ion-option *ngFor="let friend of friends" [value]="friend"> {{friend.name}} </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
