<!--
  Generated template for the PostDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post Detail</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <strong>{{post.title}}</strong>
    </ion-card-header>
    <ion-card-header>
      <p><strong>Friend: </strong> {{post.friend.name}}</p>
      <p><strong>Date: </strong> {{post.date | date}}</p>
      <hr>
      <ion-item text-wrap>{{post.body}}</ion-item>
      <br>
      <br>  
      <ion-item>
        <span><ion-icon (click)="increment(post, 'hearts')" name="heart"></ion-icon>&nbsp;{{post.hearts}}</span>
      </ion-item>    
      <br>
      <ion-item>
        <img [src]="post.image" alt="" class="src">
      </ion-item>
      <button ion-button color="danger" (click)="delete(post._id.$oid)">Remove</button>
    </ion-card-header>
  </ion-card>
</ion-content>
