<!--
  Generated template for the AddPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Add Post</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  <form (submit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label fixed>Title</ion-label>
        <ion-input [(ngModel)]="post.title" name="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Note</ion-label>
        <ion-input [(ngModel)]="post.body" name="body" type="textarea"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed>Image</ion-label>
          <ion-input [(ngModel)]="post.image" name="image" type="text"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label fixed>Friend</ion-label>
        <ion-select [(ngModel)]="post.friend" name="friend">
          <ion-option *ngFor="let friend of friends" [value]="friend"> {{friend.name}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <button ion-button type="submit" block>Save</button>
      </ion-item>
    </ion-list>
  </form>
  </ion-content>
